name: Continuous Deployment
on:
  workflow_run:
    workflows: ["Continuous Integration"]
    types:
      - completed

  workflow_dispatch:

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
          
      - name: Deployment To Hugging Face
        env:
          HF: ${{ secrets.HUGGINGFACE_TOKEN }} 
        run: |
          # 1. Instala las dependencias principales
          pip install -r requirements.txt
          # 2. ¡CRUCIAL! Instala la interfaz de línea de comandos de Hugging Face
          pip install -U "huggingface_hub[cli]"
          # 3. Ejecuta el despliegue
          make deploy HF=$HF