name: Continuous Integration
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
  
permissions: write-all # Crucial para el paso de 'git push' a la rama 'update'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: iterative/setup-cml@v2
      
      - name: Install Packages
        run: make install
        
      - name: Format
        run: make format
        
      - name: Train
        run: make train
        
      - name: Evaluation
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make eval

      # Paso Añadido: Guardar los Resultados en la Rama 'update'
      - name: Save Results to Update Branch
        # Se ejecuta SÓLO en push a main, después de que los pasos anteriores fueron exitosos
        if: success() && github.ref == 'refs/heads/main' && github.event_name == 'push'
        env:
          USER_NAME: ${{ secrets.USER_NAME }}
          USER_EMAIL: ${{ secrets.USER_EMAIL }}
        run: |
          # 1. Configurar la identidad para el commit
          git config --global user.name ${{ secrets.USER_NAME }}
          git config --global user.email ${{ secrets.USER_EMAIL }}
          
          # 2. Crear o cambiar a la rama 'update' (la rama de artefactos)
          git checkout -b update || git checkout update 
          
          # 3. Añadir los artefactos que serán usados en el CD
          git add Model/ Results/ report.md
          
          # 4. Commit de los cambios (ignora si no hay modificaciones)
          git commit -m "chore: Update model and metrics from successful CI" || echo "No changes to commit"
          
          # 5. Subir la rama 'update' con los nuevos artefactos
          git push -f origin update